//- Box card
	@param {object} obj - object
	@param {string} obj.title - card title
	@param {string} obj.text  - card text
mixin box-card( obj )
	.box-card
		.box-card-body
			.box-card-front
				.box-card-header
					.box-card-number= obj.number + '/'
					h5.box-card-title!= obj.title
				p.box-card-text= obj.text
			.box-card-back
				.box-card-header
					.box-card-number= obj.number + '/'
					h5.box-card-title!= obj.title
				p.box-card-text= obj.text
				a.btn-link-creative.btn-link-creative-reverse(href='single-service.html')
					span.icon.icon-fill-primary.mdi.mdi-trending-neutral
					| Get now!