//- Post Modern
	@param {object} obj - object
	@param {string} obj.title  - post title
	@param {string} obj.text   - post text
	@param {object} obj.tags   - post tags
	@param {string} obj.author - post author
	@param {string} obj.mask   - post mask image
mixin post-modern( obj )
	article.post-modern&attributes(attributes)
		.post-modern-mask.bg-image(style=`background-image: url(images/${obj.mask}.jpg);`)
		.container
			.post-modern-inner.position-relative
				ul.post-modern-category
					each tag in obj.tags
						li: a.link-gray(href='#')= tag
				.post-modern-main
					h5.post-modern-title: a(href=links.post)= obj.title
					p.post-modern-text= obj.text
					.post-modern-meta
						ul.list-inline.post-modern-list
							li By&nbsp;
								a.link-gray(href='#')= obj.author
							li: time(datetime='2021') Posted October 16, 2021
						.post-modern-comments: span 3
							| &nbsp;comment(s)
				.post-modern-aside
					a.btn.btn-sm.btn-primary(href=links.post) More